<h1>Hello users</h1>
<ul>
  <%@users.each do |user|%>
  <li><%= user.username%></li>
    <%=form_with url: "/users/#{user.id}/edit", method: :get do |form| %>
    <%=form.submit "edit"%>
    <%end%>
  <%end%>
</ul>