<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="name">User name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="email">e-mail:</label>
  <input type="text" id="email" name="email"><br><br>

  <label for="password">password:</label>
  <input type="password" id="password" name="password"><br><br>

  <input type="submit" value="Submit">
</form>